.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*padding: 5%;*/
}

.App > div {
  padding: 1em;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 3;
  grid-row: 2;
}

.slot {
  background: #444;
  border: black, 1px, solid;
  padding: 1em;
}

.moneyLabel {
  background-size: cover;
  text-align: center;
}

.shop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1;
  grid-row: 2;
}

.fishingControlls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1/4;
}

.control {
  background: #444;
  background-size: cover;
}

.shop_slot {
  background: #444;
  border: black, 1px, solid;
  padding: 1em;
}

.buybutton {
  grid-column: 1/3;
  background: #000;
  text-align: center;
  background-size: cover;
}

.sellbutton {
  grid-column: 4/6;
  background: #ddd;
  text-align: center;
  background-size: cover;
}

.shopButton {
  background: #ccc;
  text-align: center;
  background-size: cover;
}

.inventoryButton {
  background: #ccc;
  text-align: center;
  background-size: cover;
}